.ss-debug {
    border: 1px solid red;
}

body{
    font-family: "Roboto", sans-serif;
}

li{
    list-style: none;
}

/* structure */

nav{
    height: 70px;
    background-color:white;
}

#sidebar {
    width: 120px;
    height: calc(100% - 70px);
    background-image: url(/img/sidebar-bg.png);
    margin-top: 70px;
    background-color: #051E34;
    color: white;
}

main {
    width: calc(100% - 120px);
    height: 100%;
    overflow-y: auto;
    padding-top: 69px;
}

.header{
    background-color: #1B72E8;
}

.table-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.img-graphic{
    width: 90%;
}

.logo-small-nav{
    width: 50px;
}

.fa-bell{
    color: rgb(255, 123, 0);
}

.logo-small-nav{
    display: none;
}

.ss-nav-right{
    width: auto;
}

.ss-badge{
    background-color: #165BBA;
}

.ss-circle{
    width: 30px;
    height: 30px;
    line-height: 21px;
}

/* mediaquery */

@media screen and (max-width:576px){
    .none-table{
        display: none;
    }
}

@media screen and (max-width:768px){
    .logo-small-nav{
        display: block;
    }

    .logo-big-nav{
        display: none;
    }

    .ss-nav-right ul>*:not(:last-child){
        display: none;
    }

    .ss-a-bell{
        padding-left: 0px;
    }

    .none-header{
        display: none;
    }

    .ss-head{
       flex-direction: column; 
    }
}